{{ define "main" }}

{{ if (eq .Section "projects") }}

<div class="container">

  {{ partial "bookshop" (slice "page-heading" (dict "title" .Params.title "description" .Params.subtitle "tags" .Params.tags)) }}

  <div class="page animate">
    {{ .Content }}
  </div>

  {{ if .PrevInSection }}
  <div class="project__navigation">
    <a class="project__prev" href="{{ .PrevInSection.Permalink }}">
      <div class="project__box">
        <span class="project__nav__info">Next Project</span>
        <h2 class="project__nav__title">{{ .PrevInSection.Title }}<i
            class="ion ion-md-arrow-round-forward arrow-right"></i></h2>
      </div>
    </a>
  </div>
  {{ end }}

</div>

{{ end }}

{{ end }}